<p>
  <strong><%= t('activerecord.attributes.route.title') %>:</strong>
  <%= @route.title %>
</p>

<p>
  <% if @trains.empty? %>
    <strong><%= t('.route_trains_zero') %></strong>
  <% else %>
    <strong><%= t('.route_trains') %>:</strong>
    <%= render 'admin/trains/trains'  %>
  <% end %>
</p>

    <strong><%= t('.route_stations') %>:</strong>
<p>
  <% if @railway_stations.empty? %>
    <strong><%= t('.route_stations_zero') %></strong>
  <% else %>
    <table>
      <thead>
      <tr>
        <td width="100px"><%= t('activerecord.attributes.railway_station.title') %></td>
        <td><%= t('.route_station_position') %></td>
        <td><%= t('.station_time_arrival') %></td>
        <td><%= t('.station_time_departure') %></td>
      </tr>
      </thead>
      <tbody>
      <% @route.railway_stations.ordered.each do |station| %>
          <tr>
            <td><%= station.title %></td>
            <td>
              <%= form_tag update_station_attr_admin_railway_station_path(station), method: :patch do %>
                <%= number_field_tag :position, station.attr_in(:position, @route) %>
                <%= hidden_field_tag :attribute, :position %>
                <%= hidden_field_tag :route_id, @route.id %>
                <%= submit_tag t('.submit_change') %>
                <% end %>
            </td>
            <td>
              <%= form_tag update_station_attr_admin_railway_station_path(station), method: :patch do %>
                <%= time_field_tag :arrival_time, station.attr_in(:arrival_time, @route) %>
                <%= hidden_field_tag :attribute, :arrival_time %>
                <%= hidden_field_tag :route_id, @route.id %>
                <%= submit_tag t('.submit_change') %>
                <% end %>
            </td>
            <td>
              <%= form_tag update_station_attr_admin_railway_station_path(station), method: :patch do %>
                <%= time_field_tag :departure_time, station.attr_in(:departure_time, @route) %>
                <%= hidden_field_tag :attribute, :departure_time %>
                <%= hidden_field_tag :route_id, @route.id %>
                <%= submit_tag t('.submit_change') %>
                <% end %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  <% end %>
</p>

<%= link_to t('common.edit'), edit_admin_route_path(@route) %> |
<%= link_to t('common.back'), admin_routes_path %>
