<p id="notice"><%= notice %></p>

<p>
  <strong>Номер поезда:</strong>
  <%= @train.number %>
</p>

<p>
  <strong>Маршрут:</strong>
  <%= @train.route.nil? ? "Маршрут не назначен" : @train.route.title %>
</p>


  <strong>Информация о местах:</strong>
  <ul>
    <% if @carriages.empty? %>
      <p> У поезда нет вагонов! </p>
    <% else %>

      <strong>Количество вагонов СВ: <%=  @premium.count  %></strong>
          <li>Количество нижних мест: <%= @premium.sum(:bottom_seats) %></li>

      <strong>Количество купейных вагонов: <%=  @coupes.count  %></strong>
          <li>Количество нижних купейных мест: <%= @coupes.sum(:bottom_seats) %></li>
          <li>Количество верхних купейных мест: <%= @coupes.sum(:top_seats) %></li>

      <strong>Количество плацкартных вагонов: <%=  @economys.count  %></strong>
          <li>Количество нижних плацкартных мест: <%= @economys.sum(:bottom_seats) %></li>
          <li>Количество верхних плацкартных мест: <%= @economys.sum(:top_seats) %></li>
          <li>Количество нижних боковых плацкартных мест: <%= @economys.sum(:side_bottom_seats) %></li>
          <li>Количество верхних боковых плацкартных мест: <%= @economys.sum(:side_top_seats) %></li>

      <strong>Количество сидячих вагонов: <%=  @sedentary.count  %></strong>
          <li>Количество сидячих мест: <%= @sedentary.sum(:seats) %></li>

    <% end %>
  </ul>
</p>

<strong>Список вагонов:</strong>
<table>
  <thead>
    <tr>
      <th>Вагон №</th>
      <th>Тип вагона</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @carriages.sort{ |car1,car2| car1.number <=> car2.number }.each do |carriage| %>
      <%  @carriage=carriage %>
      <%= render 'carriages/carriage' %>
    <% end %>

  </tbody>
</table>

<p>
  <%= link_to 'Добавить вагон', new_train_carriage_path(@train) %>
</p>

<p>
  <%= link_to 'Список поездов', trains_path %>
</p>

