<p id="notice"><%= notice %></p>

<p>
  <strong>Номер поезда:</strong>
  <%= @train.number %>
</p>

<p>
  <strong>Маршрут:</strong>
  <%= @train.route.nil? ? "Маршрут не назначен" : @train.route.title %>
</p>


  <strong>Список вагонов:</strong>
  <ul>
    <% if @train.carriages.empty? %>
      <p> У поезда нет вагонов! </p>
    <% else %>
      <% @train.carriages.each do |carriage| %>
          <li><%= link_to "Вагон №#{carriage.number} - #{Carriage.types[carriage.carriage_type.to_sym]}", train_carriage_path(@train, carriage) %></li>
      <% end %>
    <% end %>
  </ul>
</p>

<%= link_to 'Добавить вагон', new_train_carriage_path(@train) %>

<p>
  <%= link_to 'Редактировать', edit_train_path(@train) %> |
  <%= link_to 'Назад', trains_path %>
</p>

<table>
  <thead>
    <tr>
      <th>Номер вагона</th>
      <th>Тип вагона</th>
      <th>Количество нижних мест</th>
      <th>Количество верхних мест</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @train.carriages.each do |carriage| %>
      <%  @carriage=carriage %>
      <%= render 'carriages/carriage' %>
    <% end %>

  </tbody>
</table>
