<p id="notice"><%= notice %></p>

<p>
  <strong>Номер поезда:</strong>
  <%= @train.number %>
</p>

<p>
  <strong>Вагон №:</strong>
  <%= @carriage.number %>
</p>

<p>
  <strong>Тип вагона:</strong>
  <%= Carriage.types[@carriage.carriage_type.to_sym] %>
</p>

<p>
  <strong>Количество нижних мест:</strong>
  <%= @carriage.bottom_seats %>
</p>

<p>
  <strong>Количество верхних мест:</strong>
  <%= @carriage.top_seats %>
</p>

<p>
  <%= link_to 'Редактировать', edit_train_carriage_path(@train, @carriage) %> |
  <%= link_to 'Удалить', train_carriage_path(@train, @carriage), method: :delete, data: { confirm: 'Вы уверены?' } %> |
</p>

<p>
  <%= link_to 'Назад', train_path(@train) %>
</p>
