<tr>
  <td><%= ticket.user.full_name %></td>
  <td>
  <%= ticket.surname %>
  <%= ticket.name %>
  </td>
  <td><%= ticket.train.route.title %></td>
  <td><%= ticket.train.number %></td>
  <td ><%= ticket.departure_station.title %></td>
  <td><%= ticket.arrival_station.title %></td>
  <td><%= link_to t('common.show'), [:admin, ticket] %></td>
  <td><%= link_to t('common.edit'), edit_admin_ticket_path(ticket)  %></td>
  <td><%= link_to t('common.delete'), [:admin, ticket], method: :delete, data: { confirm: t('common.delete_confirm_message') } %></td>
</tr><br>
