      <tr>
        <td><%= @carriage.number %></td>
        <td><%= Carriage::TYPE[@carriage.type.to_sym] %></td>
        <td><%= link_to t('common.show'), admin_train_carriage_path(@train, @carriage) %></td>
        <td><%= link_to t('common.edit'), edit_admin_train_carriage_path(@train, @carriage) %></td>
        <td><%= link_to t('common.delete'), admin_train_carriage_path(@train, @carriage), method: :delete, data: { confirm: t('common.delete_confirm_message') } %></td>
      </tr>
