<p>
  <strong><%= t('admin.trains.attributes.train_number') %>:</strong>
  <%= @train.number %>
</p>

<p>
  <strong><%= t('admin.carriages.attributes.number') %>:</strong>
  <%= @carriage.number %>
</p>

<p>
  <strong><%= t('admin.carriages.attributes.type') %>:</strong>
  <%= Carriage::TYPE[@carriage.type.to_sym] %>
</p>

<%= render @carriage.type.underscore %>

<p>
  <%= link_to t('common.edit'), edit_admin_train_carriage_path(@train, @carriage) %> |
  <%= link_to t('common.delete'), admin_train_carriage_path(@train, @carriage), method: :delete, data: { confirm: t('common.delete_confirm_message') } %> |
</p>

<p>
  <%= link_to t('common.back'), admin_train_path(@train) %>
</p>
