  <h3>Результаты поиска маршрутов: </h>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-3">
            <h4 class="navbar-text"><%= t('.departure_station') %></h4>
          </div>
          <div class="col-md-3">
            <p class="navbar-text navbar-left" ><%= @departure_station.title %></p>
          </div>
          <div class="col-md-3">
            <h4 class="navbar-text" ><%= t('.arrival_station') %></h4>
          </div>
          <div class="col-md-3">
            <p class="navbar-text navbar-left"><%= @arrival_station.title %></p>
          </div>
        </div>
      </div>
    </div>



<table class="table text-center" id="non-bordered-th">
  <thead class="">
  <tr class="bg-success">

    <td width="150px"><%= t('.route') %></td>
    <td ><%= t('.train_number') %></td>
    <td><%= t('.departure_station') %></td>
    <td><%= t('.arrival_time') %></td>
    <td><%= t('.departure_time') %></td>
    <td><%= t('.arrival_station') %></td>
    <td><%= t('.arrival_time') %></td>
    <td><%= t('.departure_time') %></td>

  </tr>
  </thead>
  <tbody>
      <% @trains.each do |train|  %>
      <tr class="bg-info">
        <td><%= train.route.title %></td>
        <td><%= train.number %></td>
        <td><%= @departure_station.title %></td>
        <td><%= @departure_station.attr_in(:arrival_time, train.route) %></td>
        <td><%= @departure_station.attr_in(:departure_time, train.route) %></td>
        <td><%= @arrival_station.title %></td>
        <td><%= @arrival_station.attr_in(:arrival_time, train.route) %></td>
        <td><%= @arrival_station.attr_in(:departure_time, train.route) %></td>
        <td>
        <% current_user.admin? ? buy_pass = new_admin_ticket_path : buy_pass = new_ticket_path %>
            <%= form_tag buy_pass, method: :get do %>
            <%= hidden_field_tag :train_id, train.id %>
            <%= hidden_field_tag :departure_station_id, @departure_station.id %>
            <%= hidden_field_tag :arrival_station_id, @arrival_station.id %>
            <%= submit_tag(t('common.buy'), class: "btn btn-success") %>

          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table >

<h4><%= t('common.new_search') %></h4>
<%= render 'form' %>
