<h1>TUTURU админка</h1>

<div><%= link_to 'Список всех станций', admin_railway_stations_path %></div>
<div><%= link_to 'Список всех маршрутов', admin_routes_path %></div>
<div><%= link_to 'Список всех поездов', admin_trains_path %></div>
<div><%= link_to 'Список всех билетов', admin_tickets_path %></div>
<div><%= link_to 'Поиск билетов', new_search_path %></div>


