<!-- <p id="notice"><%= notice %></p> -->

<p>
  <strong>Номер поезда:</strong>
  <%= @train.number %>
</p>

<p>
  <strong>Маршрут:</strong>
  <%= @train.route.nil? ? "Маршрут не назначен" : @train.route.title %>
</p>

  <ul>
    <% if @carriages.empty? %>
      <p> У поезда нет вагонов! </p>
    <% else %>
      <strong>Количество вагонов: </strong>
      <% Carriage::TYPE.each do |type, value| %>
        <li><%= value %>: <%=  @carriages.carriages_type(type).count  %></li>
      <% end %>
      <p>
        <a>Нумерация вагонов:</a>
        <%= @train.sort_flag ? "с головы поезда" : "с хвоста поезда" %>
      </p>
      <strong>Список вагонов:</strong>
      <table>
        <thead>
          <tr>
            <th>Вагон №</th>
            <th>Тип вагона</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @train.sort_carriages.each do |carriage| %>
                  <tr>
              <td><%= link_to carriage.number, admin_train_carriage_path(@train, carriage) %></td>
              <td><%= Carriage::TYPE[carriage.type.to_sym] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

    <% end %>
  </ul>
</p>

<p>
  <%= link_to 'Добавить вагон', new_admin_train_carriage_path(@train) %>
</p>

<p>
  <%= link_to 'Список поездов', admin_trains_path %>
</p>

