<p>
  <strong><%=  t('admin.trains.attributes.train_number') %></strong>
  <%= @train.number %>
</p>
<p>
  <strong><%=  t('admin.trains.attributes.route') %></strong>
  <%= @train.route.nil? ? t('admin.trains.show.route_zero') : @train.route.title %>
</p>
<p>
  <strong><%=  t('admin.trains.attributes.current_station') %></strong>
  <%= @train.current_station.title %>
</p>


  <ul>
    <% if @carriages.empty? %>
      <p> <%= t('admin.trains.show.carriage_sum_zero') %> </p>
    <% else %>
      <strong><%= t('admin.trains.show.carriage_sum') %></strong>
      <% Carriage::TYPE.each do |type, value| %>
        <li><%= value %>: <%=  @carriages.carriages_type(type).count  %></li>
      <% end %>
      <p>
        <a><%= t('admin.carriages.attributes.sort_flag') %></a>
        <%= @train.sort_flag ? t('admin.carriages.attributes.sort_flag_head') : t('admin.carriages.attributes.sort_flag_end') %>
      </p>
      <strong><%= t('admin.carriages.index.title') %></strong>
      <table>
        <thead>
          <tr>
            <th><%= t('admin.carriages.attributes.number') %></th>
            <th><%= t('admin.carriages.attributes.type') %></th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @train.sort_carriages.each do |carriage| %>
                  <tr>
              <td><%= link_to carriage.number, admin_train_carriage_path(@train, carriage) %></td>
              <td><%= Carriage::TYPE[carriage.type.to_sym] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

    <% end %>
  </ul>
</p>

<p>
  <%= link_to t('admin.carriages.new.title') , new_admin_train_carriage_path(@train) %>
</p>

<p>
  <%= link_to t('admin.trains.index.title'), admin_trains_path %>
</p>

